<mat-toolbar [ngClass]="{'navbar' : true, 'scrolled' : isSticky}" >
  <button mat-icon-button class="mobile-menu-button" aria-label="Mobile menu" (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <button mat-button aria-label="Matific logo" class="navbar-logo mr-auto">
    <img class="logo-white" src="../assets/logos/matific-logo-white.png" alt="">
    <img class="logo-black" src="../assets/logos/matific-logo-black.png" alt="">
  </button>
  <button mat-button class="lang-btn">
    <img src="../assets/flags/us.png" alt="">
    <span>EN</span>
  </button>
  <mat-drawer #drawer class="navbar-right">
    <a mat-button class="navbar-link">Math Activities</a>
    <a mat-button class="navbar-link">Matific Platform</a>
    <a mat-button class="navbar-link">Our Pedagogy</a>
    <a mat-button class="navbar-link">For Parents</a>
    <button mat-stroked-button class="navbar-btn">Login</button>
    <button mat-button color="primary" class="navbar-btn">Free Trial</button>
  </mat-drawer>
</mat-toolbar>
