@import '../../../styles/variables.scss';

.navbar {
  background-color: $blue-color;
  height: 64px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transition: .2s all ease-in-out;

  .mobile-menu-button {
    color: $white-color;
    width: 50px;
    height: 50px;
    background: $primary-color;
    box-shadow: 0 15px 15px 0 $box-shadow-color;
  }

  .navbar-logo {
    padding: 0;
    flex: 1;

    img {
      width: 100px;

      &.logo-black {
        display: none;
      }
    }
  }

  .lang-btn {
    padding: 0;
    line-height: 1;
    display: flex;
    border-radius: 2px;

    .mat-button-wrapper {
      display: flex;
      align-items: center;
    }

    img {
      width: 32px;

      &+span {
        padding-left: 10px;
        font-size: 12px;
        color: $white-color;
      }
    }
  }

  .navbar-right {
    margin-left: auto;

    &.mat-drawer {
      position: fixed;
      top: 64px;
      left: 0;
      width: 300px;
      bottom: 0;
      z-index: 99;
      transform: translateX(-300px);

      .mat-drawer-inner-container {
        display: flex;
        flex-direction: column;
        padding: 20px;

        .navbar-btn,
        .navbar-link {

          &+.navbar-btn,
          &+.navbar-link {
            margin-left: 0;
            margin-top: 15px;
          }
        }

        .mat-stroked-button {
          color: $primary-color;
          border-color: $primary-color !important;
        }
      }
    }
  }

  .navbar-btn {
    color: $white-color;
    min-width: 90px;

    &.mat-stroked-button {
      border-width: 2px;
      border-color: $white-color !important;
    }

    &+.navbar-btn,
    &+.navbar-link {
      margin-left: 15px;
    }
  }

  &.scrolled {
    position: fixed;
    background: $white-color;
    z-index: 999;

    .navbar-logo {
      img {
        &.logo-white {
          display: none;
        }

        &.logo-black {
          display: inline-block;
        }
      }
    }

    .navbar-link {
      color: $black-color;
    }

    .navbar-btn {
      color: $white-color;
      border-color: $primary-color;

      &.mat-stroked-button {
        color: $primary-color;
        border-color: $primary-color !important;
      }
    }
  }

  @media screen and (min-width: 1024px) {
    .mobile-menu-button {
      display: none;
    }

    .navbar-logo {
      flex: none;
    }

    .lang-btn {
      margin-left: 35px;
    }

    .navbar-link {
      color: $white-color;
    }

    .navbar-right {
      &.mat-drawer {
        background-color: transparent;
        visibility: visible !important;
        position: static;
        width: auto;
        transform: none;

        .mat-drawer-inner-container {
          display: block;

          .mat-stroked-button {
            color: $white-color;
            border-color: $white-color !important;
          }

          .navbar-btn,
          .navbar-link {

            &+.navbar-btn,
            &+.navbar-link {
              margin-left: 15px;
              margin-top: 0;
            }
          }
        }
      }
    }

    &.scrolled {
      .navbar-right {
        &.mat-drawer {
          .mat-drawer-inner-container {
            .mat-stroked-button {
              color: $primary-color;
              border-color: $primary-color !important;
            }
          }
        }
      }
    }
  }
}
