body {
  margin: 0;
  padding-top: 56px;
  font-family: $font-pt-sans;
}

@media screen and (min-width: 1024px) {
  body {
    padding-top: 64px;
  }
}

// buttons

button {
  &.mat-button {
    &.mat-primary {
      background: $primary-color;
      color: $white-color;

      &:hover {
        opacity: 0.9;
      }
    }
  }

  &.mat-stroked-button {
    border-width: 2px;
    border-color: $black-color !important;

    &.invert {
      border-color: $white-color !important;
      color: $white-color !important;
    }
  }
}

// End buttons
