$font-pt-sans: 'PT Sans',
sans-serif;
$primary-color: #ff6a00;
$primary-hover: #ff6a00;
$blue-color: #0e63af;
$white-color: #fff;
$black-color: #000;
$box-shadow-color: rgba(27, 36, 52, .15);
$box-shadow-hover: rgba(59, 79, 83, 0.4);
