@import '../../../styles/variables.scss';

.gallery-card {
  width: 275px;
  flex: 0 0 auto;

  .mat-card {
    padding: 0;
    border-radius: 5px;
    background-color: $white-color;
    box-shadow: 0 2px 32px 0 $box-shadow-color;
    display: flex;
    flex-direction: column;

    &:hover {
      cursor: pointer;
      box-shadow: 0 0px 30px 0 $box-shadow-hover;
    }

    .mat-card-image {
      margin-bottom: 0;
      margin: 0;
      width: 100%;
      min-height: 170px;
    }

    .mat-card-content {
      padding: 10px;
      padding-right: 5px;
      display: flex;
      align-items: center;

      .mat-icon {
        color: #00c3b8;
      }

      .gallery-card-title {
        max-height: 50px;
        margin-left: 8px;
        font-size: 16px;
        flex-grow: 1;
        text-align: left;
        font-weight: 600;
        line-height: 1.5;
        color: #2a3132;
        margin-bottom: 0;
        overflow: hidden;
      }
    }
  }
}
