<mat-card>
  <img mat-card-image src="{{gallery.thumbnail_url}}" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <mat-icon class="gallery-card-icon">play_circle_filled</mat-icon>
    <p class="gallery-card-title">{{gallery.title}}</p>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Open in Full Screen</button>
      <button mat-menu-item>About the Activity</button>
      <button mat-menu-item>Tips and Guidelines</button>
    </mat-menu>
  </mat-card-content>
</mat-card>
