@import '../../../styles/variables.scss';

.banner {
  padding: 60px 20px 200px 20px;
  min-height: 300px;
  color: $white-color;
  background-color: $blue-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  .banner-text {
    .banner-title {
      font-size: 28px;
      line-height: 1.29;
      font-weight: 600;
      margin-bottom: 30px;
    }

    .banner-subtitle {
      font-size: 16px;
      line-height: 1.5;
      font-weight: 400;
      margin-bottom: 30px;
    }
  }

  .banner-cto {
    display: flex;
    flex-direction: column;
    width: 100%;

    button {
      font-weight: 600;
      font-size: 18px;
      padding: 14px 32px;
      line-height: 120%;
      min-width: 210px;

      .mat-button-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .mat-icon {
        margin-right: 5px;
      }

      &.mat-primary {
        border: 2px solid $primary-color;
        margin-top: 15px;
      }
    }
  }

  @media screen and (min-width: 768px) {
    padding: 80px 50px 250px 50px;

    .banner-text {
      .banner-title {
        font-size: 46px;
        line-height: 64px;
      }

      .banner-subtitle {
        font-size: 24px;
        line-height: 32px;
      }
    }

    .banner-cto {
      flex-direction: row;
      justify-content: center;

      button {
        &.mat-primary {
          margin-top: 0;
          margin-left: 20px;
        }
      }
    }
  }

  @media screen and (min-width: 1024px) {
    .banner-text {
      width: 50%;
    }
  }
}
