<section class="banner">
  <div class="banner-text">
    <h2 class="banner-title">Math educational platform designed by pedagogical experts</h2>
    <p class="banner-subtitle">Personalised maths learning for K-6 students aligned to your local curriculum</p>
  </div>
  <div class="banner-cto">
    <button mat-stroked-button class="invert" (click)="openDialog()">
      <mat-icon>play_circle_filled</mat-icon><span>Why Matific</span>
    </button>
    <button mat-button color="primary">Start a Free Trial</button>
  </div>
</section>
