@import '../../../styles/variables.scss';

.video-modal {
  .mat-dialog-container {
    padding: 0;
    position: relative;
    overflow: visible;

    app-video-modal {
      display: flex;
      justify-content: center;
      align-items: center;

      .modal-close {
        position: absolute;
        z-index: 1;
        top: -15px;
        right: -15px;
        width: 25px;
        height: 25px;
        color: $white-color;
        background-color: $primary-color;
        display: flex;
        justify-content: center;
        align-items: center;

        .mat-icon {
          height: 15px;
          width: 15px;
          font-size: 15px;
          line-height: 1;
        }
      }

      iframe {
        z-index: 1;
      }

      .modal-loader {
        position: absolute;
        z-index: 0;
        animation-name: spin;
        animation-duration: 400ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
      }
    }
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}
