<iframe width="560" height="315" src="https://www.youtube.com/embed/cr_topHuNLY" frameborder="0"
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
  allowfullscreen></iframe>
<mat-icon class="modal-loader">cached</mat-icon>
<button mat-icon-button mat-dialog-close class="modal-close">
  <mat-icon>close</mat-icon>
</button>
