@import '../../styles/variables.scss';

.section-title {
  font-size: 18px;
  font-weight: 400;
  color: $white-color;
  display: inline-flex;
}

.gallery {
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: -200px;
  text-align: center;

  .gallery-items {
    padding: 30px 20px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;

    &::-webkit-scrollbar {
      width: 0px;
    }

    &::-webkit-scrollbar-thumb {
      display: none;
    }

    app-gallery-card {
      &+app-gallery-card {
        margin-left: 32px;
      }
    }
  }
}
