<app-banner></app-banner>

<section class="gallery">
  <p class="section-title">Try some of our maths activities...</p>
  <div class="gallery-items">
    <app-gallery-card class="gallery-card" [gallery]="gallery" *ngFor="let gallery of galleryItems"></app-gallery-card>
  </div>
</section>
